<div class="sidebar">
  <div class="main-bar mt50">
    <a
      class="profile-btn"
      [routerLink]="'profile'"
      routerLinkActive="active"
    >
      <svg class="icon36" icon="user-circle"></svg>
    </a>
    <a
      class="profile-btn"
      [routerLink]="'feed'"
      routerLinkActive="active"
    >
      <svg class="icon36" icon="feed"></svg>
    </a>
    <a
      class="profile-btn"
      [routerLink]="'stats'"
      routerLinkActive="active"
    >
      <svg class="icon36" icon="chart"></svg>
    </a>
    <!-- <a
      class="profile-btn"
      [routerLink]="''"
      routerLinkActive="active"
    >
      <svg class="icon36" icon="settings"></svg>
    </a> -->
    <a
      class="profile-btn logout-btn"
      [routerLink]="'login'"
      routerLinkActive="active"
    >
      <svg class="icon36" icon="log-out"></svg>
    </a>
  </div>
</div>